export(mlogit, mlogit.data, hmftest, logitform, is.logitform, suml, hlogit, nlogit,
       rlogit, cor.rlogit, cov.rlogit, sd.rlogit, rpar, stdev, med,
       qrlogit, prlogit, drlogit, halton)

#mlogit methods
S3method(logitform,formula)
S3method(model.matrix,logitform)
S3method(model.frame,logitform)
S3method(update,mlogit)
S3method(print,mlogit)
S3method(summary,mlogit)
S3method(print,summary.mlogit)
S3method(logLik,mlogit)
S3method(vcov,mlogit)
S3method(hmftest,mlogit)
S3method(hmftest,formula)
S3method(residuals,mlogit)
S3method(fitted,mlogit)
S3method(df.residual,mlogit)

# rlogit methods
S3method(summary,rlogit)
S3method(print,summary.rlogit)
#S3method(logLik,rlogit)
#S3method(vcov,rlogit)
#S3method(terms,rlogit)
S3method(print,rpar)
S3method(summary,rpar)
S3method(plot,rpar)
S3method(plot,rlogit)
S3method(mean,rpar)
S3method(mean,rlogit)
S3method(stdev,rpar)
S3method(stdev,rlogit)
S3method(med,rpar)
S3method(med,rlogit)
S3method(qrlogit,rpar)
S3method(qrlogit,rlogit)
S3method(prlogit,rpar)
S3method(prlogit,rlogit)
S3method(drlogit,rpar)
S3method(drlogit,rlogit)

